@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: var(--default-bg);
    background-color: rgb(19, 11, 53);
    min-height: 100vh;
  }

  html[lang="fa"] {
    font-family: Morabba, sans-serif;
  }
  html[lang="en"] {
    font-family: Poppins, sans-serif;
  }
}

@layer components {
  @media only screen and (max-width: 420px) {
    #qrcode {
      width: 300px !important;
      height: 300px !important;
    }
  }
}

@layer utilities {
  .gradient {
    @apply bg-gradient-to-r from-light-green via-light-pink to-light-purple;
  }
  .container-app {
    @apply w-full max-w-screen-2xl mx-auto;
  }
  .font-fa {
    font-family: Morabba, sans-serif;
  }
  .font-en {
    font-family: Poppins, sans-serif;
  }
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
